<h2>Posts List:</h2>
<hr />

<a href="/admin/post/add">
  <button class="btn btn-success mb-4">New Post</button>
</a>

{{#each posts}}
    <div class="card mb-2">
        <div class="card-body">
            <h4>{{title}}</h4>
            <p>Description: {{desctiption}}</p>
            <small>Data: {{date}}</small><br>
            <small>Category: {{category.name}}</small><br>
            <a href="/admin/post/edit/{{_id}}"><button type="submit" class="btn btn-success mt-4">Edit post</button></a>
            <a href="/admin/post/delete/{{_id}}"><button type="submit" class="btn btn-danger mt-4">Delete post</button></a>

        </div>
    </div>
{{else}}
    <p>No post registered</p>
{{/each}}